<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/progressall.css" />
    <title>Progress All</title>
</head>

<body>
    <nav>
        <div class="logo-section">
            <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
        </div>
        <div class="search-section">
            <input type="search" name="course-search" placeholder="Cari kursus" />
        </div>
        <ul class="menu">
            <li><a href="">Semua Kursus</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Kontak</a></li>
        </ul>
        <details class="dropdown">
            <summary>
                <img src="/img/user-profile-square.png" alt="User Profile" class="profile-image" />
            </summary>
            <ul>
                <li>
                    <img src="/img/user-profile-square.png" /><a href="#">Profile Saya</a>
                </li>
                <li>
                    <img src="/img/cart.png" /><a href="#">Daftar Pesanan</a>
                </li>
                <li>
                    <img src="/img/settings.png" /><a href="#">Pengaturan</a>
                </li>
                <li><img src="/img/logout-04.png" /><a href="#">Keluar</a></li>
            </ul>
        </details>
    </nav>

    <div class="profile-header">
        <div class="profile-info">
            <img src="/img/user-profile-square.png" alt="Profile Picture" class="profile-picture" width="90"
                height="90" />
            <div class="info-text">
                <h2>Nama</h2>
                <p>Lokasi</p>
                <p>Bio</p>
            </div>
        </div>
        <button class="edit-profile">Edit Profil</button>
    </div>
    <div class="container-progress">
        <div class="header">
            <h1>Progress</h1>
            <select>
                <option>Urutkan</option>
                <option>Urutkan dari yang terbesar</option>
                <option>Urutkan dari yang terkecil</option>
                <option>Urutkan berdasarkan nama</option>
            </select>
        </div>

        <div class="card">
            <img src="/img-card/icon python background.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development for Beginners</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>100%</span>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img-card/icon Flutter background.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development Class</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>50%</span>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img-card/icon python background.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development for Beginners</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>100%</span>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img-card/icon laravel background.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development Class</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>50%</span>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img-card/icon laravel background.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development Class</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>50%</span>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="/img-card/icon Kotlin mastering class.jpg" alt="Course" />
            <div class="card-content">
                <h3>Web Development Class</h3>
                <p>• Ahmad Subandi</p>
                <p class="details">Development • 10 modul</p>
            </div>
            <div class="progress">
                <div class="progress-circle">
                    <span>0%</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>