<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/css/cssreset.css" />
    <link rel="stylesheet" href="/css/style_daftar.css" />

    <title>Maya-Learn</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <img src="/img/logo_transparent (1).png" id="logo" alt="" />
        </li>
        <li>
          <input type="search" name="course-search" placeholder="cari kursus" />
        </li>
      </ul>
      <ul>
        <li><a href="#">Semua Kursus</a></li>
        <li><a href="#">Tentang Kami</a></li>
        <li><button class="outline" href="#">Masuk</button></li>
      </ul>
    </nav>
    <div id="login-container">
      <div id="image">
        <img src="/img/daftar1.png" alt="" />
        <img src="/img/daftar2.png" alt="" id="down-img" />
      </div>
      <div class="login">
        <form action="/daftar" method="post">
          <fieldset>
            <h1>Daftar</h1>
            <label>
              Username
              <input
                name="username"
                placeholder="masukkan username"
                autocomplete="given-name"
                id="username"
                required
              />
            </label>
            <label>
              Email
              <input
                name="email"
                type="email"
                placeholder="masukkan email"
                autocomplete="email"
                required
              />
            </label>
            <label>
              password
              <input
                type="password"
                name="password"
                placeholder="masukkan password"
                autocomplete="new-password"
                required
              />
            </label>
          </fieldset>

          <input type="submit" value="Daftar" class="primary" />
        </form>
        <a href="/login">sudah punya akun?</a>
      </div>
    </div>
  </body>
</html>
