<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/cssreset.css" />
  <title>Maya-Learn</title>
</head>

<body>
  <nav>
    <div class="logo-section">
      <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
    </div>
    <div class="search-section">
      <input type="search" name="course-search" placeholder="Cari kursus" />
    </div>
    <ul class="menu">
      <li><a href="">Semua Kursus</a></li>
      <li><a href="">Tentang Kami</a></li>
      <li><a href="">Kontak</a></li>
      <button class="outline">Masuk</button>
      <button>Daftar</button>
    </ul>
  </nav>
  <div class="login">
    <form action="/login" method="post">
      <div class="container">
        <img src="/img/loginn.png" alt="Ilustrasi wanita dengan laptop" class="login-image" />
        <div class="content">
          <h1>Login</h1>
          <h2>Email</h2>
          <input type="email" name="email" placeholder="name@domail.com" autocomplete="email" aria-label="Email"
            aria-describedby="email-helper" />
          <h2>Password</h2>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Masukkan password" aria-label="Password"
              autocomplete="current-password" />
            <img src="/img/eye-close.png" id="eye-icon" />
          </div>
          <div class="link-right">
            <a href="/daftar">Lupa Password?</a>
          </div>
          <button type="submit">Masuk</button>
          <div class="link-center">
            <a href="/daftar">Belum punya Akun?</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="/scripts/scripts.js"></script>
</body>

</html>