<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/cssreset.css" />
  <title>Maya-Learn</title>
</head>

<body>
  <nav>
    <div class="logo-section">
      <a href="/dashboard">
        <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
      </a>
    </div>

    <ul class="menu">
      <li><a href="/dashboard">Semua Tutorial</a></li>
      <li><a href="/aboutus">Tentang Kami</a></li>
      <a href="/login"><button class="outline">Masuk</button></a>
      <a href="/daftar"><button>Daftar</button></a>
    </ul>
  </nav>
  <div class="login">
    <form action="/login" method="post">
      <div class="container">
        <img src="/img/loginn.png" alt="Ilustrasi wanita dengan laptop" class="login-image" />
        <div class="content">
          <h1>Login</h1>
          <h2>Email</h2>
          <% if(messages.error) { %>
            <% if(messages.error=="email" ) {%>
              <input type="email" name="email" placeholder="name@domail.com" autocomplete="email" aria-label="Email"
                aria-describedby="email-helper" aria-invalid="true" aria-describedby="invalid-helper" required />
              <small id="invalid-helper">
                Tidak ditemukan user dengan Email tersebut!
              </small>
              <% } else {%>
                <input type="email" name="email" placeholder="name@domail.com" autocomplete="email" aria-label="Email"
                  aria-describedby="email-helper" required />
                <% } %>
                  <% if(messages.error=="password" ) {%>
                    <h2>Password</h2>
                    <div class="password-wrapper">
                      <input type="password" id="password" name="password" placeholder="Masukkan password"
                        aria-label="Password" autocomplete="current-password" aria-invalid="true"
                        aria-describedby="invalid-helper" required />
                    </div>
                    <small id="invalid-helper">
                      Password Salah!
                    </small>
                    <% } else {%>
                      <h2>Password</h2>
                      <div class="password-wrapper">
                        <input type="password" id="password" name="password" placeholder="Masukkan password"
                          aria-label="Password" autocomplete="current-password" required />
                      </div>
                      <% } %>

                        <% } else { %>
                          <input type="email" name="email" placeholder="name@domail.com" autocomplete="email"
                            aria-label="Email" aria-describedby="email-helper" required />
                          <h2>Password</h2>
                          <div class="password-wrapper">
                            <input type="password" id="password" name="password" placeholder="Masukkan password"
                              aria-label="Password" autocomplete="current-password" required />
                          </div>
                          <% } %>

                            <div class="link-right">
                              <a href="/daftar">Lupa Password?</a>
                            </div>
                            <button type="submit">Masuk</button>
                            <div class="link-center">
                              <a href="/daftar">Belum punya Akun?</a>
                            </div>
        </div>
      </div>
    </form>
  </div>
  <script src="/scripts/scripts.js"></script>
</body>

</html>