<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/setting.css" />

    <title>Setting</title>
</head>

<body>
    <nav>
        <div class="logo-section">
            <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
        </div>

        <ul class="menu">
            <li><a href="">Semua Kursus</a></li>
            <li><a href="">Tentang Kami</a></li>
        </ul>
        <details class="dropdown">
            <summary>
                <img src="/img/user-profile-square.png" alt="User Profile" class="profile-image" />
            </summary>
            <ul>
                <li><img src="/img/user-profile-square.png" /><a href="#">Profile Saya</a></li>
                <li><img src="/img/logout-04.png" /><a href="#">Keluar</a></li>
            </ul>
        </details>
    </nav>

    <div class="container">
        <!-- Header -->


        <!-- Main Content -->
        <div class="main-content">


            <!-- Profile Form -->
            <section class="profile-form">
                <form action="profile" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="name" value=<%=name %> >
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value=<%=email %>>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="save-btn">Simpan</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</body>

</html>