<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <link rel="stylesheet" href="/css/cssreset.css" />
  <link rel="stylesheet" href="/css/style.css" />

  <title>Lupa Password</title>
</head>

<body>
  <nav>
    <div class="logo-section">
      <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
    </div>
    <div class="search-section">
      <input type="search" name="course-search" placeholder="Cari kursus" />
    </div>
    <ul class="menu">
      <li><a href="">Semua Kursus</a></li>
      <li><a href="">Tentang Kami</a></li>
      <li><a href="">Kontak</a></li>
      <button class="outline">Masuk</button>
      <button>Daftar</button>
    </ul>
  </nav>
  <div class="Ubah password">
    <form action="/reset" method="post">
      <div class="container-ubah">
        <img src="/img/ubahpassword.png" alt="Ilustrasi wanita dengan laptop" class="login-image" width="44%" />
        <div class="content">
          <h1>Ubah Password</h1>
          <h2>Password Baru</h2>
          <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Masukkan password" aria-label="Password"
              autocomplete="new-password" />
            <img src="/img/eye-close.png" id="eye-icon" />
          </div>
          <button type="submit" value="reset-password">Submit</button>
          <div class="link-center">
            <a href="/daftar">Belum punya Akun?</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- script js -->
  <script src="/scripts/scripts.js"></script>
</body>

</html>