<!DOCTYPE html>
<html lang="en" data-theme="ligt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cssreset.css" />
    <link rel="stylesheet" href="/css/konfirmasi.css" />
    <title>Maya-Learn</title>
</head>

<body>
    <nav>
        <div class="logo-section">
            <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
        </div>
        <div class="search-section">
            <input type="search" name="course-search" placeholder="Cari kursus" />
        </div>
        <ul class="menu">
            <li><a href="">Semua Kursus</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Kontak</a></li>
            <button class="outline">Masuk</button>
            <button>Daftar</button>
        </ul>
    </nav>
    <section class="hero">
        <div class="course-header">
            <img src="/img-card/icon laravel background.jpg" alt="Unity" class="course-image" />
            <div class="course-info">
                <h1>Start Learning Unity</h1>
                <p>Development | 10 jam | 10 Module</p>
                <p>Supriadi</p>
            </div>
        </div>
    </section>
    <!-- Content -->
    <div class="content">
        <div class="ringkasan">
            <h2>Ringkasan</h2>
            <p>
                Tertarik dengan Unity tetapi tidak yakin harus mulai dari mana?
                Mulailah di sini! Dalam tutorial ini, Anda dapat memilih jalur Anda
                sendiri untuk mempelajari Unity, menemukan apa saja yang dapat
                dilakukannya, dan mengeksplorasi cara untuk mempelajarinya, tergantung
                pada tujuan dan minat Anda. Kami bahkan akan memandu Anda melalui
                penginstalan jika Anda belum melakukannya.
            </p>
        </div>
        <div class="course-list">
            <li>1. What is Unity?</li>
            <li>2. Want to learn the essentials?</li>
            <li>3. Want to make games?</li>
            <li>4. Want to create new worlds?</li>
            <li>5. Want to learn to code?</li>
            <li>6. Want to learn XR?</li>
            <li>7. Want to create with AI?</li>
            <li>8. Want something simpler? Try Struckd first</li>
            <li>9. Want to pursue a career? Follow the job seeker's guide</li>
            <li>10. What will you create with Unity?</li>
        </div>
    </div>
    <div class="cta">
        <button>Ingin Mempelajarinya</button>
    </div>
</body>

</html>