<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <link rel="stylesheet" href="/css/cssreset.css" />
    <link rel="stylesheet" href="/css/tutorial.css" />
    <title>Unity Tutorial</title>
</head>

<body>
    <nav>
        <div class="logo-section">
            <img src="/img/logotransparan.png" id="logo" alt="Logo Maya Learn" />
        </div>
        <div class="search-section">
            <input type="search" name="course-search" placeholder="Cari kursus" />
        </div>
        <ul class="menu">
            <li><a href="">Semua Kursus</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Kontak</a></li>
            <button class="outline">Masuk</button>
            <button>Daftar</button>
        </ul>
    </nav>
    <main class="main-container">
        <aside class="sidebar">
            <h3>STEPS</h3>
            <ul>
                <li><a href="#1">1. What is Unity?</a></li>
                <li><a href="#2">2. What to learn the essentials?</a></li>
                <li><a href="#3">3. Additional Features</a></li>
                <li><a href="#4">4. Publishing</a></li>
                <li><a href="#5">5. Want to learn to code?</a></li>
                <li><a href="#6">6. Want to learn XR?</a></li>
                <li><a href="#7">7. Want to create with AI?</a></li>
                <li><a href="#8">8. Want something simpler? Try Struckd first</a></li>
                <li>
                    <a href="#9">9. Want to pursue a career? Follow the job seeker's guide</a>
                </li>
                <li><a href="#10">10. What will you create with Unity?</a></li>
            </ul>
        </aside>
        <section class="content">
            <div class="course-header">
                <img src="/img-card/icon laravel background.jpg" alt="Unity" class="course-image" />
                <div class="course-info">
                    <h1>Start Learning Unity</h1>
                    <p>Development | 10 jam | Module</p>
                    <p>Subandi</p>
                </div>
            </div>

            <div class="course-summary">
                <h2>Ringkasan</h2>
                <p>
                    Tertarik dengan Unity tetapi tidak yakin harus mulai dari mana?
                    Mulailah di sini! Dalam tutorial ini, Anda dapat memilih jalur Anda
                    sendiri untuk mempelajari Unity, menemukan apa saja yang dapat
                    dilakukannya, dan mengeksplorasi cara untuk mempelajarinya,
                    tergantung pada tujuan dan minat Anda. Kami bahkan akan memandu Anda
                    melalui penginstalan jika Anda belum melakukannya.
                </p>
            </div>
            <div class="lesson" id="1">
                <h2>1. What is Unity?</h2>
                <p>
                    Unity is a suite of powerful tools for creating games and other
                    fully interactive experiences. You can use Unity to design, build,
                    and publish interactive 3D and 2D applications that run on many
                    platforms. In total, Unity is a real-time 3D engine that allows you
                    to see your interactive experiences come to life as you develop
                    them, in real time.
                </p>
                <p>
                    Check out some recent projects made with Unity in the video below.
                    Notice the wide variety of genres and styles.
                </p>
                <img src="/img/tutorial.png" alt="Unity Lesson Image" />
                <button>Mark as completed</button>
            </div>
            <div class="lesson" id="2">
                <h2>2. What to learn the essentials?</h2>
                <p>Learning the basics of Unity will help you...</p>
                <img src="/img/tutorial.png" alt="Unity Lesson Image" />
                <button>Mark as completed</button>
            </div>
            <div class="lesson" id="3">
                <h2>3. What to learn the essentials?</h2>
                <p>Learning the basics of Unity will help you...</p>
                <img src="/img/tutorial.png" alt="Unity Lesson Image" />
                <button>Mark as completed</button>
            </div>
            <div class="lesson" id="4">
                <h2>4. What to learn the essentials?</h2>
                <p>Learning the basics of Unity will help you...</p>
                <img src="/img/tutorial.png" alt="Unity Lesson Image" />
                <button>Mark as completed</button>
            </div>
        </section>
    </main>
</body>

</html>