nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling untuk logo */
.logo-section img {
  width: 70px;
  height: 50px;
  object-fit: contain;
}

/* Styling untuk input pencarian */
.search-section input {
  height: 40px;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 300px;
  transition: all 0.3s ease;
}

.search-section input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Styling untuk menu */
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu li {
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}
.menu li a:hover {
  color: #007bff;
}

.menu button.outline {
  padding: 0.5rem 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.menu button.outline:hover {
  background-color: #36c2a7;
  color: white;
  transition: all 0.3s ease;
}

.forgot-password {
  background: #ffffff;
  padding: 70px;
  text-align: left;
  width: 80%;
  margin: 40px auto 10px auto;
}

.forgot-password-content h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.forgot-password-content input[type="email"] {
  width: 150%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.forgot-password-content small {
  display: block;
  font-size: 12px;
  color: #666666;
  margin-top: 5px;
}

.forgot-password-content a {
  font-size: 12px;
  color: #333333;
}

.forgot-password-content small#email-helper {
  color: #999999;
}
.forgot-password-content button {
  width: 150%;
  padding: 10px;
  background-color: #58faf9;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.forgot-password-content button:hover {
  background-color: #58faf9;
}
